/* NAVBAR */
*{transition:all 0.3s ease-in-out;}

.container{
	clear:both;
	overflow:auto;
}

nav{
	float:right;
}

.logo img{
	float: left; 
}

ul li{
	display: inline-block; 
	padding:10px;
}

ul li:hover{
	color:#2EA3F2;
}

.main_menu {
	font-size: 32px; 
}

#main_icon {
	width: 100px; 
}

/* CSS */

h1 {
	font-size: 4em; 
}

p {
	font-size: 20px; 
}
  
img {
	display: block;
}

/* Non sottolineare il link */
a {
	font-size: 20px; 
	text-decoration: none;
}

/* Non cambiare il colore del link una volta visualizzato */
.main_menu, .main_menu:visited {
    color: inherit;
}

/* Tabella */
table {
	width: 90%;
	border-collapse: collapse;
	border: 2px black solid;
}


td {
	font-size: 20px; 
	border: 1px black solid;
	padding: 5px;
}

tr:nth-child(n+12){
	display:none;
}

/* Grafici */
.chart {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}

a:hover{
	color:#2EA3F2;
}

body {
	background-color: Ivory;
	padding-left: 5%;
	padding-right: 5%;
}
