/* NAVBAR */
*{transition:all 0.3s ease-in-out;}

.container{
	clear:both;
	overflow:auto;
}

nav{
	float:right;
}

.logo img{
	float: left; 
}

ul li{
	display: inline-block; 
	padding:10px;
}

ul li:hover{
	color:#2EA3F2;
}

.main_menu {
	font-size: 2em; 
}

#main_icon {
	width: 80px; 
	padding-top: 8px;
}

/* CSS */

h1 {
	font-size: 2em; 
}

p {
	font-size: 18px; 
}
  
img {
	display: block;
}

/* Non sottolineare il link */
a {
	font-size: 18px; 
	text-decoration: none;
}

/* Non cambiare il colore del link una volta visualizzato */
.main_menu, .main_menu:visited {
    color: inherit;
}

/* Tabella */
table {
	width: 90%;
	border-collapse: collapse;
	border: 2px black solid;
}


td {
	font-size: 18px; 
	border: 1px black solid;
	padding: 5px;
}

tr:nth-child(n+12){
	display:none;
}

/* Grafici */
.chart {
	display: block;
	width:60%;
	height: 600px;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Cambiare il colore quando il mouse passa sopra al link */
a:hover{
	color:#2EA3F2;
}

/* Spazio bianco a destra e a sinistra */
body {
	padding-left: 5%;
	padding-right: 5%;
}
