*{transition:all 0.3s ease-in-out;}

.container{
	clear:both;
	overflow:auto;
}

nav{float:right}

.logo img{float: left; padding-top:10px;}

ul li{
	display: inline-block; padding:10px;
}

ul li:hover{
	color:#2EA3F2;
  
}

.menuicon {
	display: none;
}

h1 {
	font-size: 4em; 
}

p {
	font-size: 40px; 
}
  
img {
	display: block;
}

/* Non sottolineare il link */
a {
	font-size: 40px; 
	text-decoration: none;
}

/* Non cambiare il colore del link una volta visualizzato */
.main_menu, .main_menu:visited {
    color: inherit;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 2px black solid;
}

td {
	font-size: 40px; 
	border: 1px black solid;
	padding: 5px;
}

tr:nth-child(n+12){
	display:none;
}

.chart {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}

a:hover{
	color:#2EA3F2;
}

body {
	padding-left: 5%;
	padding-right: 5%;
}
