/* NAVBAR */
*{transition:all 0.3s ease-in-out;}

.container{
	clear:both;
	overflow:auto;
}

nav{
	float:right;
}

.logo img{
	float: left; 
}

ul li{
	display: inline-block; 
	padding:10px;
}

ul li:hover{
	color:#2EA3F2;
}

.main_menu {
	font-size: 20px; 
}

#main_icon {
	width: 50px; 
	padding-top: 13px;
}

/* CSS */

h1 {
	font-size: 22px; 
}

p {
	font-size: 18px; 
}
  
img {
	display: block;
}

/* Non sottolineare il link */
a {
	font-size: 18px; 
	text-decoration: none;
}

/* Non cambiare il colore del link una volta visualizzato */
.main_menu, .main_menu:visited {
    color: inherit;
}

/* Tabella */
table {
	border-collapse: collapse;
	border: 2px black solid;
	white-space: nowrap;
}

td {
	font-size: 14px; 
	border: 1px black solid;
	padding: 5px;
}

tr:nth-child(n+12){
	display:none;
}

/* Grafici */
.chart {
	display: block;
	width:100%;
	height: 600px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Cambiare il colore quando il mouse passa sopra al link */
a:hover{
	color:#2EA3F2;
}

/* Spazio bianco a destra e a sinistra */
body {
	padding-left: 5%;
	padding-right: 5%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4169E1;
  color: white;
  text-align: center;
}
